.game-container {
    display: flex;
    justify-content: space-evenly;
}

.history-container,.game-info {
    max-height: 50rem;
    width: 50rem;
    font-size: var(--lg);
}

.game-info_container {
    display: flex;
    align-items: center;
}
